@font-face {
    font-family: MuktaMalar-Light;
    src: url(../../fonts/MuktaMalar-Light.ttf);
}

@font-face {
    font-family: MuktaMalar-Regular;
    src: url(../../fonts/MuktaMalar-Regular.ttf);
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url(../../fonts/Gilroy-ExtraBold.otf);
}