// Colors
$clr1: #ffffff;
$clr2: #5837f7;
$clr3: #333333;
$clr4: #d8d8d8;
$clr5: #11FFBD;
//Box shadows
$bs: 0px 0px 5px rgba(0, 0, 0, 0.3);

// Breakpoints
$mobile-breakpoint: 670px;
$narrow-breakpoint: 830px;
$normal-breakpoint: 1100px;

//fonts
$ml: MuktaMalar-Light;
$mr: MuktaMalar-Regular;
$ge: Gilroy-ExtraBold;
